<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotstar/movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="css/movie.css">
</head>
<body >
  <div class="first">
    {{>navbar}}
  </div>

    <!-- .....................Heading.......................... -->
    
   <div class="main">


    <div><h2 class="g">New movies</h2></div>

    <!-- .........................First Images..................... -->

    <!-- .............................i1................... -->
<div class="conatine ">
    <div class="i1">
        <img class="ii1" src="https://play-lh.googleusercontent.com/VSU-gnXK5fiy1NW9eO1aCyzfa5j3piDMb2931HLGw0gtZDIQtFmmq_B-5sfa9cBctt6UMLBW0f0LUMabcJs=s256-rw" alt="">
    </div>
      <!-- .............................i2................... -->

    <div class="i2"><img class="ii1" src="https://play-lh.googleusercontent.com/LjGbWZXJNEEgjKeCirDepi7Ds87sCNnYvXsa0F0buXujPdMuWT0S43qoKAUOBaeCNgJgGsImsPl1J8FBr-g=s256-rw" alt=""></div>

      <!-- .............................i3................... -->

    <div class="i3"><img class="ii1" src="https://play-lh.googleusercontent.com/hipYeRycAWzfIM547kChBslS4nNSHYy-CJbNzzdzLVWsAUy7_88vNno5lY9dmUIA7eLD1ABcUvkizwTcIQ=s256-rw" alt=""></div>

      <!-- .............................i4................... -->

    <div class="i4"><img class="ii1" src="https://play-lh.googleusercontent.com/mKwswF-WY686yAFk2VevIHB4pb7OQDfkAxPad3DEH1dGo6MwImKvWOHhQQCPxZ3_PmANs73_hbDmTlxWqdw=s256-rw" alt=""></div>

      <!-- .............................i5................... -->

    <div class="i5"><img class="ii1" src="https://play-lh.googleusercontent.com/pEYE84iBS-g3rhck9zrZq428N1btZc4hGrdd9_VP9ClfTgpU6oD40u4WztxC18Dl-9uAIjFNBwZJyd3kVLw=s256-rw" alt=""></div>

      <!-- .............................i6................... -->

    <div class="i6"><img class="ii1" src="https://play-lh.googleusercontent.com/RMnrvCdMr-zpkHrx_yQ_eG0qecBLmo0q13xC9-1LXdSCa0ikWBtLVKciAQIdwFG8nPxCtmLHaO5ULOP3yYE=s256-rw" alt=""></div>

     <!-- ...........Second images.............. -->
      
       <!-- .............................i1................... -->
    <div class="i1">
        <img class="ii1" src="https://play-lh.googleusercontent.com/FtbNj4Uh_9UNhLT_IL-LagP8UHBMo7cgC_SmaOJPwboua6_A8ymd8R4TbZHydhFNMJx3EbZp_XVWYNkbbAs=s256-rw" alt="">
    </div>

      <!-- .............................i2................... -->

    <div class="i2"><img class="ii1" src="https://play-lh.googleusercontent.com/14AW9engv8h0lAU-o-cdpJXMr0nfjs4K-QMS0wQvLUE4TlR94gXDTlVJoyE81QUi1Ry7WyTdBiImJkJCdA=s256-rw" alt=""></div>

      <!-- .............................i3................... -->

    <div class="i3"><img class="ii1" src="https://play-lh.googleusercontent.com/3ckMF3IXykWx_MgOaVB6uncVEbE0NDs50y1snar3jj3884va2D1qFEvpQG1oYylN_tVZxXOjk9i-E2_9Gdo=s256-rw" alt=""></div>

      <!-- .............................i4................... -->

    <div class="i4"><img class="ii1" src="https://play-lh.googleusercontent.com/upcMRuEMdGtRSMQ-P6EalySd37M1tHguBqH9-CCnaifzRJHNeCYosYe66ewrPYm1LpVhTohB_Ur8kYXwc-o=s256-rw" alt=""></div>

      <!-- .............................i5................... -->

    <div class="i5"><img class="ii1" src="https://play-lh.googleusercontent.com/l7vbouPd6kBLTpp26k6XuN9W6cSFygfpvA-fn5PFnYShnBNnbaXri1ctki8vNc_Pzy72a_ZMEQxywfCrxQ=s256-rw" alt=""></div>

      <!-- .............................i6................... -->

    <div class="i6"><img class="ii1" src="https://play-lh.googleusercontent.com/ULm1Cas5ej5A5ArJ2jwdJALZ2HGBX_mBA2VJpFT9EjjwrWqbpMa3ghi0B6xmDoFtHYNj5PAeLdQY57ImzBxk=s256-rw" alt=""></div>

</div>
    <!-- .............sub image............... -->

    <div class="l"><h2 style="font-weight: 100;">Top charts</h2></div>

     <div class="top-chart">

      <!-- ........................1................. -->

    <div class="h">
      <div class="i"><h3>1</h3></div>
      <div class="j"><img src="https://play-lh.googleusercontent.com/VSU-gnXK5fiy1NW9eO1aCyzfa5j3piDMb2931HLGw0gtZDIQtFmmq_B-5sfa9cBctt6UMLBW0f0LUMabcJs=w88-h132-rw" alt=""></div>
      <div class="k"><table>
      <th style="text-align: left;">Black Adam</th>
   
    <tr><td>500.0</td></tr>
  <tr><td class="btn btn-success">Buy</td></tr></table></div>
    </div>

    <!-- ........................................2......................... -->

    <div class="h">
      <div class="i"><h3>2</h3></div>
      <div class="j"><img src="https://play-lh.googleusercontent.com/ULm1Cas5ej5A5ArJ2jwdJALZ2HGBX_mBA2VJpFT9EjjwrWqbpMa3ghi0B6xmDoFtHYNj5PAeLdQY57ImzBxk=w88-h132-rw" alt=""></div>
      <div class="k"><table>
      <th style="text-align: left;">Black Adam</th>
   
    <tr><td>500.0</td></tr></table></div>
    </div>

    <!-- .......................................3..................................... -->
   
    <div class="h">
      <div class="i"><h3>3</h3></div>
      <div class="j"><img src="https://play-lh.googleusercontent.com/8iom-6h32_avzqFsgvAZPDqDfBNbJsowE6-_ocWe4sL1hfzJhJuWWtsuEBL-qTUbX8lM7J_1IWpBCuV0=w88-h132-rw" alt=""></div>
      <div class="k"><table>
      <th style="text-align: left;">Black Adam</th>
    <tr><td>Action and adventure</td></tr>
    <tr><td>500.0</td></tr></table></div>
    </div>

    
       </div> 

       <!-- ........................top-chart 2............... -->
       <div class="top-chart">

        <!-- ........................4................. -->
  
      <div class="h">
        <div class="i"><h3>4</h3></div>
        <div class="j"><img src="https://play-lh.googleusercontent.com/mKwswF-WY686yAFk2VevIHB4pb7OQDfkAxPad3DEH1dGo6MwImKvWOHhQQCPxZ3_PmANs73_hbDmTlxWqdw=w88-h132-rw" alt=""></div>
        <div class="k"><table>
        <th style="text-align: left;">Black Adam</th>
      <tr><td>Action and adventure</td></tr>
      <tr><td>500.0</td></tr></table></div>
      </div>
  
      <!-- ........................................5......................... -->
  
      <div class="h">
        <div class="i"><h3>5</h3></div>
        <div class="j"><img src="https://play-lh.googleusercontent.com/UJHa0DJftoFAt7rj1M8w7OmVoPxcFoRJAAqV2hbbz8QI-p5xHTxbjidNKM7gE-jxKzDfCuCfIJ7VBxQIcQ=w88-h132-rw" alt=""></div>
        <div class="k"><table>
        <th style="text-align: left;">Black Adam</th>
      <tr><td>Action and adventure</td></tr>
      <tr><td>500.0</td></tr></table></div>
      </div>
  
      <!-- .......................................6..................................... -->
     
      <div class="h">
        <div class="i"><h3>6</h3></div>
        <div class="j"><img src="https://play-lh.googleusercontent.com/l7vbouPd6kBLTpp26k6XuN9W6cSFygfpvA-fn5PFnYShnBNnbaXri1ctki8vNc_Pzy72a_ZMEQxywfCrxQ=w88-h132-rw" alt=""></div>
        <div class="k"><table>
        <th style="text-align: left;">Black Adam</th>
      <tr><td>Action and adventure</td></tr>
      <tr><td>500.0</td></tr></table></div>
      </div>
  
         </div> 

         <!-- ............top chart 3....................................... -->

         <div class="top-chart">

          <!-- ........................7................. -->
    
        <div class="h">
          <div class="i"><h3>7</h3></div>
          <div class="j"><img src="https://play-lh.googleusercontent.com/x48OooJ0LF1hdsE3f3YqF0OGj_Bwb8LsyFzYgG_T5y69Gvfxw5jN4es-u9IYPc4mYJBp=w88-h132-rw" alt=""></div>
          <div class="k"><table>
          <th style="text-align: left;">Black Adam</th>
        <tr><td>Action and adventure</td></tr>
        <tr><td>500.0</td></tr></table></div>
        </div>
    
        <!-- ........................................8......................... -->
    
        <div class="h">
          <div class="i"><h3>8</h3></div>
          <div class="j"><img src="https://play-lh.googleusercontent.com/qsMy3LITCRrmSWzAC67BKr66ovtMEf4ljZyk7X_RYU2j7yup663r4T3Qil23wABnZCUd0GlBtqEChl_5doE=w88-h132-rw" alt=""></div>
          <div class="k"><table>
          <th style="text-align: left;">Black Adam</th>
        <tr><td>Action and adventure</td></tr>
        <tr><td>500.0</td></tr></table></div>
        </div>
    
        <!-- .......................................9..................................... -->
       
        <div class="h">
          <div class="i"><h3>9</h3></div>
          <div class="j"><img src="https://play-lh.googleusercontent.com/FtbNj4Uh_9UNhLT_IL-LagP8UHBMo7cgC_SmaOJPwboua6_A8ymd8R4TbZHydhFNMJx3EbZp_XVWYNkbbAs=w88-h132-rw" alt=""></div>
          <div class="k"><table>
          <th style="text-align: left;">Black Adam</th>
        <tr><td>Action and adventure</td></tr>
        <tr><td>500.0</td></tr></table></div>
        </div>
    
           </div> 
  
          <!-- .................. New rental movies.................. -->

         

          <div class="m"><h2 style="font-weight: 100;">New rental movies</h2></div>

          <div class="new-rental-movies">
            <!-- ........................i7.......................... -->

          <div class="i7"><img class="ii2" src="https://play-lh.googleusercontent.com/TyoKU6IN7Q5qThf2EPeHmcAmyvnHbMXdLeM7D-Jwa1qHCnXiH_KGcCNbx5G0ZHzrMqkhA0rNiL6Y1Zkj7WiT=s256-rw" alt=""></

          <!-- ..............................i8..................................... -->

          <div class="i8"><img class="ii2" src="https://play-lh.googleusercontent.com/zRnuJtp3m6HwibyofOMtLSIpeepE_gnOgiLjczyp5r-12I1HHq1htHeoQqERhKfTlzSYIHk6U5HwVk0cjeZE=s256-rw" alt=""></div>
 
           <!-- ..............................i9..................................... -->

           <div class="i9"><img class="ii2" src="https://play-lh.googleusercontent.com/xixsEWvMiPSb4UIspzUrkqx9k4tJxqcQWVK-nAk11nJXHNepD3ai1VdvqmDQYQY0sGN0fFejXghyO0RJkA=s256-rw" alt=""></div>

            <!-- ..............................i10..................................... -->

          <div class="i10"><img class="ii2" src="https://play-lh.googleusercontent.com/MmMRdV-lilF7T5kTbb4Ie_OOW1o2MVMaLeLKdG9qbAtIlbbem9hERto0MHpQJyj3HdOQP0hAprk8eBCHmg=s256-rw" alt=""></div>

           <!-- ..............................i11..................................... -->

           <div class="i11"><img class="ii2" src="https://play-lh.googleusercontent.com/mmmcyGiwXi4lHr1WCPJ3BbjueV72T9tsHPedKfhCu4Er8P8o4sStuxh7x7BmsQFb1vTInQOv-OMCdH8NGQ=s256-rw" alt=""></div>

            <!-- ..............................i12..................................... -->

            <div class="i11"><img class="ii2" src="https://play-lh.googleusercontent.com/5zCrgNvzj8RjTUGrqm6MkbyyrLcWDLaGe_j7VwALZ1C7KPmvOfTrMsRuyohPUz7sAQI5dUEezRTYP5SvcE0y=s256-rw" alt="">
            </div>
        </div></div>

        <!-- .........................Top Selling movie..................... -->

        <div class="m"><h2  style="font-weight: 100;">Top Selling-Movies</h2></div>

        <!-- ................................i13............................. -->

        <div class="i7"><img class="ii2" src="https://play-lh.googleusercontent.com/gyaETsjb2QL2mCDZ1zqSQmSqSCojAIkyce4cOVfPGbYqe-c8etQPWQcfFpf2rLLd9vmtlKgXuGVEgyA9izuM=s256-rw" alt=""></

          <!-- ..............................i14..................................... -->

          <div class="i8"><img class="ii2" src="https://play-lh.googleusercontent.com/u-Bva9tY0OWtE50KymE2-2x5kvVR5sEro8SpXNXkbFtE8Ot8H0TT269xm4DT_eQTmiA=s256-rw" alt=""></div>
 
           <!-- ..............................i15..................................... -->

           <div class="i9"><img class="ii2" src="https://play-lh.googleusercontent.com/-0dYeoBPTChyNGHzmORwvj_mkpkvTVtGvntYZkfmnXOs_rwJiLrPchMshhL8LE6cNdv7oig23jOy3zGbdh38=s256-rw" alt=""></div>

            <!-- ..............................i16..................................... -->

          <div class="i10"><img class="ii2" src="https://play-lh.googleusercontent.com/cLkPnmFKIDTMVn_Qk9N0orWs9vhKmef3ssW445PqgjTRRLjcPA3eWTzYLOTW5s4iswoHGAl2uIj6UwlBuw=s256-rw" alt=""></div>

           <!-- ..............................i17..................................... -->

           <div class="i11"><img class="ii2" src="https://play-lh.googleusercontent.com/DaKXlhnI12anxyjP5gOiuJlle7z852MygOoE-J1ly62SMfgB4G8cs0lTxUwsqvCVrBoGEWBqVjcB2JqYreA=s256-rw" alt=""></div>

            <!-- ..............................i18..................................... -->

            <div class="i11"><img class="ii2" src="https://play-lh.googleusercontent.com/TyqomKe8PJ-jduazKTUR33wQBNI0ae8QzJElRc1y5HbxjGGt-xaUbv7U0ztgHetxcH1o=s256-rw" alt="">
            </div>
        </div></div>
</div>
   
     

        <!-- ..........................for footer..................... -->
        

       <!-- ..................... footer 1........................ -->
           {{>footer}}
      
</body>
</html>